<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xht.generator.mapper.FileChunkMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xht.generator.entity.FileChunk">
        <result column="id" property="id" />
        <result column="is_deleted" property="isDeleted" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="file_id" property="fileId" />
        <result column="chunk_number" property="chunkNumber" />
        <result column="chunk_size" property="chunkSize" />
        <result column="etag" property="etag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        is_deleted,
        create_time,
        update_time,
        file_id, chunk_number, chunk_size, etag
    </sql>

</mapper>
